<nav class="navbar">
    <a class="heading" href="/">
        <h1>O<span class="logo">MARKO</span>S<span class="logo">PORTS</span></h1>
    </a>


    <div class="sports" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item" href="/football">Football </a>
            <a class="nav-item" href="/basketball">Basketball</a>
            <a class="nav-item" href="/formula-1">Motorsports</a>
            <a class="nav-item" href="/tennis">Tennis</a>
        </div>
    </div>
</nav>
<div class="outlets">
    Headlines from <a href="https://theathletic.com/" target="_blank" class="h6">TheAthletic</a> <a href="https://www.skysports.com/" target="_blank" class="h6">SkySports</a> <a href="https://www.telegraph.co.uk/sport/" target="_blank" class="h6">TheTelegraph</a> and many more
</div>