<nav class="navbar">
    <a class="heading" href="/">
        <h1>O<span class="logo">MARKO</span>S<span class="logo">PORTS</span></h1>
    </a>


    <div class="sports" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item" href="football">Football </a>
            <a class="nav-item" href="#">Basketball</a>
            <a class="nav-item" href="#">Motorsport</a>
            <a class="nav-item" href="#">Golf</a>
        </div>
    </div>
</nav>
<div class="outlets">
    Headlines from <a href="theathletic" class="h6">TheAthletic</a> <a href="skysports" class="h6">SkySports</a> <a href="thetelegraph"
        class="h6">TheTelegraph</a> and many more
</div>